* {
  margin: 0;
  font-family:sans-serif;
  border: border-box;
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
}
body {
  overflow: scroll;
  overflow-x: unset;
  scroll-behavior: smooth;
  width: 100vw;
  height: auto;
}
.navbar {
  height: 5vw;
  width: 100vw;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-logo {
  height: 90%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo1 {
  background-image: url(images/amz\ logo.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 15%;
}

.border {
  border: .1vws solid transparent;
}

.border:hover {
  border: .1vw solid;
}

/* box 2 */

.nav-address {
  color: #ececec;
  height: 90%;
  width: 7%;
}
.add-1 {
  color: #cccccc;
  font-size: 1vw;
  margin-left: 1.5vw;
  padding-top: 10%;
}

.add-2 {
  margin-left: 0.4vw;
  font-size: 1.5vw;
  color: #ffffff;
  font-weight: 700;
}

.add-icon {
  display: flex;
  font-size: 2vw;
}

/* box 3 */

.nav-search {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
  width: 55%;
  border: 0.2vw solid transparent;
  display: flex;
  border-radius: .6vw;
}
.nav-search:hover {
  border: 0.2vw solid orange;
}
.search-select {
  border: none;
  background-color: #ececec;
  width: 10%;
  padding-left: .51vw;
  border-top-left-radius: 0.4vw;
  border-bottom-left-radius: 0.4vw;
  border: 0.2vw;
  color: #212a36;
  font-size: 1.vw;
  width: 7%;
}
.search-select option {
  color: #0f1111;
  font-size: 1.5vw;
  overflow-x: scroll;
}

.search-input {
  width: 86%;
  font-size: 1.4vw;
  border: none;
  color: #0f1111;
}
.search-icon {
  display: flex;
  width: 7%;
  justify-content: center;
  align-items: center;
  background-color: #febd68;
  border-top-right-radius: 0.4vw;
  border-bottom-right-radius: 0.4vw;
  font-size: 2vw;
}

/* box4 */
.nav-signin {
    height: 80%;
    width: 9%;
}
span {
    padding-top: 7%;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav2 {
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 1vw;
  width: 99%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-return {
    height: 80%;
    width: 6%;
}


.nav-cart i {
    padding-top: 7%;
  font-size: 2.5vw;
}

.nav-cart {
  font-size: 1.4vw;
  font-weight: 700;
  height: 80%;
  width: 8%;
}
/* pannel */

.pannel {
  background-color: #212a36;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3vw;
}

.pannel-ops {
  display: flex;
  justify-content: flex-start;
  display: flex;
  width: 75%;
  
}

.pannel-all {
  width: 3%;
  padding: .8%;
  margin-left: 1%;
}
.pannel-ops a {
  color: #f3f3f3;
  padding: 1%;
  text-align: center;


}

.pannel-deals {
  font-weight: 700;
   width: 14%;
  padding: .8%;
}
/* hero-section */

.hero-section {
  display: flex;
  height:25vw;
  background-image: url(images/Hero\ Image.jpg);
  background-size: cover;
  background-position-x: left;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
}
.hero-msg {
  position: relative;
  bottom: 2vw;
  background-color: white;
  height: 3vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-msg p {
  color: #0f1111;
}

.hero-section p a {
  color: #007185;
}

/* Shop Section */
.box {
  height: 35vw;
  color: #0f1111;
  width: 23%;
  margin: .7vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.shop-section {
  height:auto;
  width: 100vw;
  background-color: #cccccc;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
}

.game-acces {
  height: 80%;
  width: 90%;
  background-image: url(images/game.png);
  background-size: cover;
}
.box-heading {
  align-self: center;
  padding: 5px 5px 2px 5px;
}
.see-more {
  margin: 0px 0px 3px 20px;
  color: #007185;
}
.shop-deal {
  height: 340px;
  background-image: url(images/shop-deal.png);
  background-size: cover;
}
.new-home {
  height: 340px;
  background-image: url(images/new-home.png);
  background-size: cover;
  width: 98%;
}
.refresh {
  height: 340px;
  background-image: url(images/new-home.png);
  background-size: cover;
}
.toy {
  height: 340px;
  background-image: url(images/toy.png);
  background-size: cover;
}
.beauty {
  height: 340px;
  background-image: url(images/beauty.png);
  background-size: cover;
}
.game {
  height: 340px;
  background-image: url(images/game.png);
  background-size: cover;
}
.fashion {
  height: 340px;
  background-image: url(images/fashion.png);
  background-size: cover;
}
.see-more:hover {
  color: rgb(216, 61, 9);
}
/* footer */

.foot-pannel1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #262f3a;
  color: white;
  margin-top: 25px;
}

.foot-pannel1:hover {
  background-color: #2b3746;
}
.footpannel2 {
  background-color: #1d2631;
  height: 350px;
  display: flex;
  justify-content: space-around;
}
.foot-list,
.foot-list li {
  list-style: none;
  margin-top: 30px;
}

li a:hover {
  text-decoration: underline;
}
.foot-list li {
  margin-top: 15px;
  font-size: 0.8rem;
}
.foot-pannel3 {
  border-top: 1px solid #5c6673;
  height: 90px;
  background-color: #1d2631;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.logo {
  background-image: url(images/amz\ logo.png);
  background-size: cover;
  width: 150px;
  height: 100%;
  margin-right: 60px;
  border: #2b3746;
}
.foot-pannel4 {
  height: 50px;
  background-color: #0f1111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.78rem;
}
.copyright a {
  margin-right: 10px;
}
.copyright a:hover {
  text-decoration: underline;
}
